baseURL = "https://alexmartins.work/"
languageCode = 'en-us'
title = 'argoblog'
theme = "shibui"

[params]
  author = "Alex Martins"
  email = "hello@alexmartins.work"

[menu]
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 1
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
